<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title> {% block title %} {% endblock %} | MartinezCrossa </title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand mt-2 mt-lg-0" href="/">
                    <img src="https://i.ibb.co/kM9RTwJ/Vintage-Store-without.png" alt="Vintage-Store-without" width="150" height="45">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/products/create/">Crear producto</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="/products/list/">Lista de productos</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="btn btn-primary" style="background-color:#f5b4b4; color: white; border: 0px;" href="/users/logout/" role="button">LogOut</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" style="background-color:#e08385; color: white; border: 0px;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Hola {{request.user.username}}!
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/users/update-user/">Actualizar usuario</a></li>
                                </ul>
                            </div>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="btn btn-primary me-2" style="background-color:#f5b4b4; color: white; border: 0px;" href="/users/login/" role="button">LogIn</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary ms-2 me-3" style="background-color:#f5b4b4; color: white; border: 0px;" href="/users/signup/" role="button">SignUp</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <form class="d-flex" action="/products/list/" method="GET">
                                <input class="form-control me-2" type="search" placeholder="Busca las prendas disponibles" aria-label="Search" name="search" style="width: 250px;">
                                <button class="btn btn-outline-success" type="submit" style="background-color: #f5b4b4; color: white; border: 0px;">Buscar</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
   
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>
