{% extends "base.html" %}

{% block title %}
Menu
{% endblock %}

{% block content %}

<h2><p style="margin-left: 10px; color: #f5b4b4;"> Hola! Somos VintageStore y esperamos de corazón que te guste todo lo que tenemos para vos!</p></h2>
<h4><p style="margin-left: 10px;"> Bancamos la moda sostenible! Por eso creamos esta plataforma para vender aquellas prendas que ya no usas asi le damos la posibilidad a alguien mas de usarla.   </p></h4>
<h5><p style="margin-left: 10px;"> Nuestro objetivo es reducir el impacto medioambiental de la producción y el consumo de prendas de vestir. Ayudanos a hacer esto posible!!! <3 </p></h5>
    <div class="tenor-gif-embed" data-postid="25858451" data-share-method="host" data-aspect-ratio="1" data-width="20%"><a href="https://tenor.com/view/tgr-the-green-rising-earth-environment-greener-good-gif-25858451">Tgr The Green Rising Sticker</a>from <a href="https://tenor.com/search/tgr-stickers">Tgr Stickers</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>

{% if message %}
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">{{message}}</h4>
    <p>Esperemos que encuentres esa prenda que tanto buscas!</p>
</div>

{% endif %}
{% endblock %}