<!DOCTYPE html>
<html>
<head>
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <ul>
        {% for product in products %}
            <li>
                <h2>{{ product.name }}</h2>
                <p>{{ product.idproduct }}</p>
                <p>{{ product.category }}</p>
                {% if product.qr_code %}
                    <img src="{{ product.qr_code.url }}" alt="Código QR para {{ product.name }}">
                {% else %}
                    <p>No hay QR disponible</p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>